* {
    box-sizing: border-box;
}

.app {
    width: 250px;
    font-family: monospace;
    font-weight: bold;
    border: solid 1px black;
    margin-left: auto 0;
}

.resultWindow {
    display: flex;
    width: 100%;
    justify-content: right;
    padding-right: 10px;
    font-size: 20px;
    color: white;
    background-color: black;
}

.flexRow {
    display: flex;
}

button {
    width: 25%;
    height: 50px;
    cursor: pointer;
    background-color: darkgray;
}

button:hover {
    background-color: gray;
}

button:active {
    background-color: bisque;
}

.buttonBack {
    width: 50%;
}

.buttonZero {
    width: 75%;
}

.specialButton {
    background-color: darkorange;
    color: whitesmoke;
}

.specialButton:hover {
    background-color: orange;
}

.specialButton:active {
    background-color: crimson;
}